* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    --dark-color:#000;
    --light-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    
}


#wrapper {
    background-color: var(--light-color);
    height:200vh;
}

#header{
    height:46px;
    width:100%;
    background-color: var(--dark-color);
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 1;
    
}

#nav li a{
    display:inline-block;
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    
}

#nav > li > a{  
     color: var(--light-color);
     display:flex;
     justify-content: center;
     align-items: center;
    text-transform: uppercase;
}

#nav li:hover > a{
   
    color:var(--dark-color);
    background-color: #ccc;
    
}

#nav li {
    display:inline-block;
    position:relative;
    
}

#nav .subnav { 
   position: absolute;
   width:100px;
   height:138px;
   display:none;
   top:46px;
   background-color: var(--light-color);
   
   
}

#nav .subnav:hover a{
    color:black;
    height:46px;
    width:100px;
    
}

#nav .subnav a{
    display:flex;
    align-items: center;
    justify-content: center;
}

#header .search-icon{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:8%;
    right:0;
    top:0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#header .search-icon:hover{
    font-size:20px;
    background-color: #ccc;
    color:#333;
}

#more:hover .subnav{
    display:block;
    box-shadow: 0 0 8px rgba(33, 33, 33, 0.3);
    
}

#more:hover .subnav >li{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

#more:hover .subnav >li>a{
    color:black;
}
#slider{
    
    
    position:relative;
    margin-top:46px;
    display:block;
    width:100%;
    
    aspect-ratio: 2.25/1;
    /* Đây là một cái link sẽ k hoạt động khi
    bạn chọn Go Live. Hãy kệ nó vì nó dc thiết kế để 
    chạy trên GitHub */
    background: url(/TanJianCi_Web/assets/img/thamDuc.jpg) top center / cover no-repeat;
    /* background: url(/assets/img/thamDuc.jpg) top center / cover no-repeat; */
    /* KHI NÀO COMMIT THÌ LẤY CÁI CÓ TJC RA */
}

#slider .text-content{
    position:absolute;
    display:block;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1% 10%;
    left:50%;
    background-color: rgba(119, 110, 60, 0.6);
    color:#ffffff;
    
    /* Đẩy phần tử sang 50% khối cha. Lúc này hơi
    lệch do phần tử có độ dài riêng
    Dùng transX kéo ngược lại 1 nửa độ dài phần tử,
    vậy là cân đối */
    transform: translateX(-50%);
    bottom:12%;
    text-align: center;
    
  
}

#slider .text-heading{
   font-weight: bold;
   padding-bottom:5px;
   transform: scaleX(150%);
   
}

#slider .text-body{
    font-size:small;
    transform: scaleX(150%);
    
}

#content{
    background-color: #fff;
    width:100%;
    display:box;
    
}

#content #content-section1{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding:64px 0px;
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    /* space between letter */

}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
}

#content .film-list{
    width:100%;
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-around;
}

.film-list .film{
    display:flex;
    flex-direction: column ;
    /* column de xep anh o tren p o duoi a */
    align-items: center;
    width:27%;
    padding:30px 0px;
}
.film-list .film >img{
    width:100%;
    aspect-ratio: 1/1.5;
    border-radius: 5px;
    box-shadow: 5px 7px 5px rgba(33, 33, 33, 0.5);
    margin-bottom: 20px;
}

.film-list .film>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    font-weight: 450;
}

.film-list .film:nth-child(odd){
    padding-top:5px;
}

.film-list .film:nth-child(even){
    padding-bottom:5px;
}

#content #content-section2{
    background-color: var(--dark-color);
    color:var(--light-color);
    padding:64px 0px;
 
    
}

#content-section2 .goods-infor{
    display:flex;
    flex-wrap: wrap;
    background-color:var(--dark-color);
    
    margin:30px 10%;
    

}

.goods-infor .sell-status-table{

    height:30%;
    width:100%;
    background-color: var(--light-color);
    margin-bottom:43px;
   
    border: 0.5px solid #333;
    box-shadow: 5px 5px 10px rgba(124, 124, 124, 0.5);

}
.goods-infor .sell-status-table > .status-line{
    display:flex;
    padding:8px;
    width:100%;
    flex-wrap: wrap;  
    border: 0.2px solid;
    border-color: rgba(124, 124, 124, 0.5);
    color: rgba(0, 0, 0, 0.7);
    
}


.goods-name{
    flex:3;
}

.goods-status-soldout{
    flex:7;
}

.goods-status-soldout >p{
    background-color: pink;
    width:fit-content;
}

.goods-infor .goods-img-list{ 
    display:flex;
    width:100%;
}

.goods-img-list .goods-img{
    flex:1;
    border: 2px solid #333;
    margin:0 2px;
    background-color: #fff;
    width:100%;
    
 
}

.goods-img-list img{
    flex:1;
    display:block;
    width:100%;
    object-fit:cover;
    aspect-ratio: 1/1.25;
    margin-bottom:20px;
    box-shadow: 2px 2px 5px rgba(124, 124, 124, 0.7);
    
    
}


.goods-img h3{
    color:black;
    margin-left:10px;
    padding-bottom:10px;
    
}

.goods-img> p{
    color:#666;
    margin-left:10px;
    font-size:12px;
    margin-bottom:10px;
    
}

.goods-img > div{
    color:#111;
    font-size:12px;
    margin-left:10px;
    text-align: justify ;
    margin-right:5px;
    padding-bottom:40px;
    
}

.goods-img > button{
    margin-left:10%;
    margin-bottom: 10%;
    padding:5px;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color:#fff;
    font-weight: 500;
}
#footer{

}

