* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    --dark-color:#000;
    --light-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    
}


#wrapper {
    background-color: var(--light-color);
    height:200vh;
}

#header{
    height:46px;
    width:100%;
    background-color: var(--dark-color);
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 1;
    
}

#nav li a{
    display:inline-block;
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    
}

#nav > li > a{  
     color: var(--light-color);
     display:flex;
     justify-content: center;
     align-items: center;
    text-transform: uppercase;
}

#nav li:hover > a{
   
    color:var(--dark-color);
    background-color: #ccc;
    
}

#nav li {
    display:inline-block;
    position:relative;
    
}

#nav .subnav { 
   position: absolute;
   width:100px;
   height:138px;
   display:none;
   top:46px;
   background-color: var(--light-color);
   
   
}

#nav .subnav:hover a{
    color:black;
    height:46px;
    width:100px;
}

#nav .subnav a{
    display:flex;
    align-items: center;
    justify-content: center;
}

#header .search-icon{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:8%;
    right:0;
    top:0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#header .search-icon:hover{
    font-size:20px;
    background-color: #ccc;
    color:#333;
}

#more:hover .subnav{
    display:block;
    box-shadow: 0 0 8px rgba(33, 33, 33, 0.3);
    
}


#slider{
    
    
    position:relative;
    margin-top:46px;
    display:block;
    width:100%;
    
    aspect-ratio: 2.25/1;
    background: url(/TanJianCi_Web/assets/img/thamDuc.jpg) top center / cover no-repeat;
    
}

#slider .text-content{
    position:absolute;
    display:block;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1% 10%;
    left:50%;
    background-color: rgba(119, 110, 60, 0.6);
    color:#ffffff;
    
    /* Đẩy phần tử sang 50% khối cha. Lúc này hơi
    lệch do phần tử có độ dài riêng
    Dùng transX kéo ngược lại 1 nửa độ dài phần tử,
    vậy là cân đối */
    transform: translateX(-50%);
    bottom:12%;
    text-align: center;
    
  
}

#slider .text-heading{
   font-weight: bold;
   padding-bottom:5px;
   transform: scaleX(150%);
   
}

#slider .text-body{
    font-size:small;
    transform: scaleX(150%);
    
}

#content{

}

#footer{

}

